You will be asked a question about the Typst language. It's an
alternative to LaTeX, much faster and more powerful. 

Given the following context which comes from a Typst book, answer 
the question from the user.

<|start_header_id|>context<|end_header_id|>

{{ context }}